.tabs {

  &:not(.is-boxed) {
    box-shadow: $shadow-border;
  }
  &.is-boxed ul li{
    margin-top: 0.5rem;
  }

  &.is-fixed-top, &.is-fixed-bottom {
    left: 0;
    position: fixed;
    right: 0;
    z-index: 30;

    &.has-shadow {
      box-shadow: 0 2px 0 0 #f5f5f5;
    }
  }

  &.is-fixed-bottom.has-shadow {
    box-shadow: 0 -2px 0 0 #f5f5f5;
  }

  &.is-fixed-top {
    top: 0;
  }

  &.is-fixed-bottom {
    bottom: 0;
  }

}
