// compile
@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/sass/utilities/functions";


@import "template";
@import "fixed-tabs";



//set bulma-vars here
$primary: $river;
$primary-dark: $midnight;
$primary-light: lighten($river, 20%);

// tabs
$tabs-link-color: $grey;
$tabs-link-hover-border-bottom-color: $grey-dark;
$tabs-link-hover-color: $grey-dark;
$tabs-border-bottom-width: 2px;

@import "../node_modules/bulma/bulma";

body, html {
  overflow: hidden;
  background: $clouds;
}

.main {
  overflow: auto;
  display: block !important;
}


.main-content {
 min-height: 100vh;
}

.navigation {
  background: $white;
  border-top: 0.5rem solid $primary;
  // margin-bottom: 1rem;
  li {
    a {
      padding: 1rem 2rem;
    }
    &.is-active a {
      color: $primary;
      border-color: $primary;
    }
  }
}


//tabs
.main-content {
  background: $clouds;

  .tab-content {
    display: none;
    min-height: 100%;

    &.is-active {
      display: flex;
    }
  }
}






.footer {
  background: $primary-dark;
  color: findColorInvert($primary-dark);
  padding: 3rem 1.5rem;
  display: flex;
  flex-direction: row;

  .level {
    width: 100%;
  }

  .icon {
    color: findColorInvert($primary-dark);
  }
}

.image img {
  object-fit: cover;
}

//home
.home_content {
  flex-direction: column;
}



// teams
.teams_content {
  display: flex;
  flex-direction: column;

  .teams {
    display: flex;
    padding: 2rem;
  }

  .team {
    flex-grow: 1;
    flex-basis: 0;
    margin-bottom: 0 !important;

    &:not(:last-child) {
      margin-right: 0.5rem;
    }
    .team-header {
      font-size: 1.25em;
    }

    .team-members {
      padding-left: 1.5rem;
    }
  }
}


// sponsors
.sponsors_content {
  display: flex;
  flex-wrap: wrap;
  padding: 3rem;
  align-items: center;
  justify-content: center;

  .image {
    width: 40%;
    padding: 3rem;
  }
}


//media content
.media_content {
  display: flex;
  flex-direction: column;
}

//find us
.contact_content {
  .times {
    margin-left: 2rem;
  }
}
