<div class="tab-content home_content {% if {{startActive}} == true %} is-active {%endif%}">
 <figure class="image is-3by1">
    <img src="/media/DSC_0033.JPG">
  </figure>
  <div>
   <section class="hero is-primary">
    <div class="hero-body is-uppercase is-size-4 has-text-centered">
        <b>Utah State  University  Robosub  team</b>
    </div>
   </section>
  </div>
  <section class="section">
    <div class="content container is-medium has-text-centered">
      <p>The 2018 Utah State University Robosub team is an undergraduate engineering team dedicated to creating a new generation autonomous underwater vehicle for the AUVSI Robosub competition. The team is comprised of undergraduate students at Utah State University from various engineering disciplines.
      </p>
    </div>
  </section>
</div>
